<div>
    <div class="hbltpl" data-name="author_tpl">
        <h2>{{name}} {{surname}}</h2>
        <p>{{bio}}</p>
    </div>

    <div class="hbltpl" data-name="book_tpl">
        <h2>{{title}}</h2>
        <h3>{{author}}</h3>
        <p>{{description}}</p>
    </div>
</div>